*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
    padding: 8px;
}
.links-cabecalho{
    text-decoration: none;
    color: black;
    margin: 0 8px;
    font-weight: 700;
    font-size: 20px;
}
.corpo{
    background-color: bisque;
}
 
.descritivo{
    margin-left: 24px;
}
 
.titulo-principal{
    color: saddlebrown;
}
 
.bolo-descricao{
    white-space: pre-wrap;
    font-weight: 200;
    color: saddlebrown;
}
 
.ingredientes{
    margin: 4px 24px;
}
 
.titulo-receita{
    margin: 6px 0;
    color: saddlebrown;
}
 
.area-ingredientes{
    border-color: brown;
    width: 60%;
}
 
.subtitulo-box{
    margin: 0 16px;
    color: brown;
}
 
.titulo-receita{
    margin: 6px 0px;
}
 
.lista-receita{
    margin-left: 8px 0;
    list-style-type: none;
}
.Utensílios{
    margin: 8px 0;
    display: flex;
    flex-direction: row;
}
.cards-uten{
    margin: 4px;
    padding: 8px;
    border: 1px solid rgb(70, 51, 177);
    border-radius: 5px;
    text-align: center;
}
.titulo-card{
margin: 4px 0 ;
}
.btn-compra{
background-color: saddlebrown;
color: beige;
padding: 2px;
border: 1px solid brown;
}
.preparo{
    margin: 4px 24px;
}
.subtitulo-lista{
    margin: 4px 0;
}
.lista-preparo{
    margin: 0 24px;
    list-style: lower-roman;
}
.rodape{
    margin: 24px;
    background-color: antiquewhite;
}
